* {
	font-size: 36px;
	margin: 3px;
	font-family: sans-serif;
}

#history-text {
	height: 18px;
	font-size: 18px;
	text-align: end;
}

#output-text {
	height: 40px;
}

.container {
	background-color: azure;
	display: flex;
	flex-direction: column;
	width: 25%;
	border-radius: 12px;
	border: 0.5px solid black;
}

.top-section {
	display: flex;
	flex-direction: column;
}

.bottom-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.btn {
	display: flex;
	border: 3px solid blue;
	border-radius: 12px;
	background-color: cornsilk;
	width: 20%;
}

.btn p {
	width: 100%;
	text-align: center;
}

.btn :hover {
	cursor: pointer;
}

.middle-section {
	display: flex;
	justify-content: flex-end;
}

.clear {
	width: 46%;
}

#output-text {
	border: 3px solid blue;
	background-color: paleturquoise;
	border-radius: 12px;
	text-align: end;
	padding-right: 12px;
}
